h1 {
  color: rgb(0, 0, 70);
  text-align: center;
  border-style: double;
}
.navbar {
  display: inline;
  border: 2px solid orange;
  display: flex;
  flex-wrap: nowrap;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: lightgrey;
}
.navChoices {
  border-style: solid;
  display: inline;
}
* {
  box-sizing: border-box;
}
.rightDisplay {
  display: flex;
  flex-flow: column nowrap; /*wrap? test later*/
  /*justify-content: flex-end;*/
  align-items: flex-end;
}
.fade-in {
  animation: fade-in 2s;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
