h1 {
  color: rgb(0, 0, 70);
  text-align: center;
  border-style: double;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: lightgrey;
}
.gridMain {
  display: grid;
  grid-template-columns: 160px auto auto auto;
  grid-template-rows: 720px auto auto auto;
  gap: 10px;
  background-color: #2196f3;
  padding: 10px;
  text-align: center;
}
.gridMain > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
}
.navChoices {
  border-style: solid;
  text-align: left;
  grid-column-start: 1;
  grid-column-end: 2;
}
* {
  box-sizing: border-box;
}
.rightDisplay {
  grid-column-start: 2;
  grid-column-end: 5;
  /*display: flex;
  flex-flow: column nowrap; /*wrap? test later*/
  /*justify-content: flex-end;
  align-items: flex-end;*/
}
.trioSelect {
  display: flex;
  justify-content: space-around;
}
.fade-in {
  animation: fade-in 1s;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
