* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  border-style: double;
}
body {
  background-image: url("/Assets/bg/sunflowerField.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.gridMain {
  display: grid;
  grid-template-columns: 160px auto auto auto;
  grid-template-rows: 720px auto auto auto;
  gap: 10px;
  padding: 10px;
  text-align: center;
}
.gridMain > div {
  /*experiment with*/
  border-style: solid;
}
.navChoices {
  border-style: solid;
  text-align: left;
  grid-column-start: 1;
  grid-column-end: 2;
  background-image: url("/Assets/bg/rabbit-sidebar1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.85;
}
.icon {
  width: 30px;
  height: 30px;
}
#iconLine {
  text-align: center;
}
.rightDisplay {
  grid-column-start: 2;
  grid-column-end: 5;
  background-image: url("/Assets/bg/dried-flowers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.85;
}
.trioSelect {
  display: flex;
  justify-content: space-around;
}
#randomBun {
  display: none;
  position: absolute;
}
.fade-in {
  animation: fade-in 1s;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-both {
  animation: fade-both 2s alternate;
}
@keyframes fade-both {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
